<a href="https://colab.research.google.com/github/grshankersai/Complete-Python-3-Bootcamp/blob/master/Day1PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello world")

Hello world

# python
## python
### python
#### python
##### python

In [0]:
print("Gitam",end="\t")
print("Gitam",end=" ")

Gitam	Gitam

# Variables
## also called identifiers
### to store some value and allocate some memory
# Naming Rules::
### it always starts with alphabet , cannot start with digit.
### it can start with "_",but no special chars are allowed as variables.
### keywords cannot be used as variables.

In [0]:
a = 10
print(a)
a*2

10

20

In [0]:
b=20
a+b

30

In [0]:
name = "Gitam"
address="Hyd"
print("University Name",name,"Place",address)

University Name Gitam Place Hyd

# Input Function.

In [0]:
input("Enter your name")

Enter your namePython

'Python'

In [0]:
n=int(input("Enter a number.."))
n

Enter a number..76

76

# type function

In [0]:
type(n)
print(type(n))

<class 'int'>

## Data types in python
## 1.int
## 2.float
## 3. complex
## 4. boolean
## 5. string

In [0]:
x=10
y=13.5
z= 3+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
a=complex(y)
print(a)
print(x+y)
print(y+z)

(13.5+0j)
23.5
(16.5+6j)

In [0]:
c=complex(3,4)
print(c)

(3+4j)

## Boolean data type
### True
### False

## strings

In [0]:
x="a"
y="Python"
print(type(x))
type(y)

<class 'str'>

str

In [0]:
i=100
print(type(i))
j=str(i)
print(type(j))
k=float(i)
print(type(k))

<class 'int'>
<class 'str'>
<class 'float'>

## **Operators**
### 1.Arithmetic operators: +,-,*,/,%,"//"-float division,"**" -power.
### 2. Logical Operators : and , or ,not
### 3. Relational Operators: <,<=,>,>=,==,!=
### 4.Memebership operator: in & not in

In [0]:
x=3
y=5
print(x+y)
print(x*y)
print(x/y)
print(x**y)
print(x//y)
print(x%y)

8
15
0.6
243
0
3

In [0]:
## logical operators
a=20 
b=30
print(a>=10 and a>=30)
print(b>=10 and b<=40)
print(a>=10 or a>=30)
print(not a)

False
True
True
False

In [0]:
a=10
b=20
x=a<b
print(x)

True

In [0]:
print(not x)

False

In [0]:
#Relational operators
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [0]:
# Membership operator
str="abc"
print("c"in str)
print("c"not in str)

True
False

# conditional Statement
## 1. if(Used for a single condition)
### syntax:
### if:
###   statements 
## 2. else-if (When  we have 2 conditions.)
### syntax;
### if:
###  statements;
### else:
###   statements;
## 3. elif (multiple condition)

In [0]:
# check for an odd number
n=int(input("Enter a number"))
if n%2!=0:
  print("Odd number")
else:
  print("Even number")

Enter a number54
Even number

In [41]:
n=int(input("Enter a number"))
if n%3==0 and n%5==0:
  print("yes..!")
else:
  print("NO..!")

Enter a number25
NO..!

In [44]:
n=int(input("Enter a number"))
if n>0:
  print("Positive")
elif n==0:
  print("0")
elif n<0:
  print("Negative")

Enter a number-325
Negative

In [45]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
c=int(input("Enter a number"))
if a>b and a>c:
  print(a,"is Greater")
elif b>a and b>c:
  print(b,"is Greater")
elif c>a and c>b:
  print(c,"is Greater")

Enter a number12
Enter a number56
Enter a number22
56 is Greater

In [49]:
n=int(input("Enter a year"))
if n%400==0 or (n%4==0 and n%100!=0):
  print("Leap year")

#elif :
 # print("leap")
else:
  print("n ot leap")

Enter a year1500
n ot leap